.centered {
  text-align: center;
}

.icon {
  border-radius: 20%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.heading {
  margin-top: 30px;
  margin-bottom: 10px;
}

.download-mark {
  margin: 5px;
}

.screenshot {
  border-radius: 20px;
  margin: 10px;
}

.spaced-top {
  margin-top: 70px;
}
